<h1>Hello there!</h1>
<p>Welcome to VolgaCTF 2018 Activity!</p>
<p><a href="https://volgactf.ru" target="_blank">VolgaCTF</a> is an international interuniversity cybersecurity competition organised by a group of IT enthusiasts in collaboration with the <a href="http://www.ssau.ru/english/education/institutes_faculties/ime/" target="_blank">Institute of Informatics, Mathematics and Electronics of Samara University</a>.</p>
<p>VolgaCTF 2018 Activity is an online competition held during <a href="https://volgactf.ru/en/volgactf-2018-finals/finals.html" target="_blank">VolgaCTF 2018 Final</a> conference days.</p>
<% if (contest.state === 1) { %>
<p>The competition starts on <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=VolgaCTF+2018+Activity+start&iso=20180918T11&p1=355" target="_blank">September 18 at 11:00 SAMT (07:00 UTC)</a> and lasts 36 hours.</p>
<% } %>
<% if (contest.state === 2 || contest.state === 3) { %>
<p>The competition has already started and will finish on <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=VolgaCTF+2018+Activity+finish&iso=20180919T23&p1=355" target="_blank">September 19 at 23:00 SAMT (19:00 UTC)</a>.</p>
<% } %>
<% if (contest.state === 4) { %>
<p>The competition has finished on <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=VolgaCTF+2018+Activity+finish&iso=20180919T23&p1=355" target="_blank">September 19 at 23:00 SAMT (19:00 UTC)</a>.</p>
<% } %>
<% if (contest.state !== 4) { %>
<p>Interested? Read the <a href="/about" target="_blank">rules</a> and <a href="/team/signup">sign up</a> to take part in the competition!</p>
<% } %>
